@import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@300&family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: Fahkwang;
    margin: 0;
    background-color: rgb(233, 231, 231);
    color: white;
}

input {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    background-color: rgb(143, 133, 133);
    color: black;
    padding: 10px;
}

::placeholder {
    color: rgb(170, 170, 255);
}

form {
    text-align: center;
}

button {
    outline: none;
    border: none;
    background-color: white;
    color: black;
    padding: 10px;
}

button:hover {
    background-color: black;
    color: white;
}

img {
    cursor: pointer;
}

.items {
    display: flex;
}